<% if account_signed_in? %>
  <div class="float-right">
    <%= link_to "Create New Community", new_community_path, class: "btn btn-outline-primary" %>
  </div>
<% end %>

<% if @communities.size > 0 %>
  <% @communities.each do |community| %>
    <div class="card">
      <h3><%= link_to community.name, community %></h3>
      <%= simple_format community.rules %>
    </div>
  <% end %>
<% else %>
  <p>No communities to display</p>
<% end %>
