<% if @communities.size > 0 %>
<% @communities.each do |community| %>
  <div class="card">
    <h3><%= link_to community.name, community_path %></h3>
    <%= simple_format community.bio %>
  </div>
<% end %>
<% else %>
  <p>No communities to display</p>
<% end %>
