<div class="row">
  <div class="col-sm-8">
    <%= render partial: "posts/list", locals: { posts: @posts} %>
  </div>

  <div class="col-sm-4">
    <p class="h4"><%= @profile.username %></p>

    <% unless @profile.full_name.blank? %>
      <p><%= @profile.full_name %></p>
    <% end %>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim numquam optio qui. Ab accusamus at doloremque illo impedit laborum, laudantium maiores nisi pariatur perferendis quia, rerum sed ullam! Dignissimos, labore! Aliquam at beatae consequatur delectus eaque et facere harum illum laborum libero mollitia nesciunt nobis perspiciatis quae quo sed sunt, unde ut. Alias, iusto, nulla!</p>
    <p>Cake day: <%= @profile.created_at.strftime("%d/%m/%Y") %></p>
  </div>
</div>
