<div class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3 mb-4 border-bottom">
      <div class="float-right">
        <%= link_to "Log In", new_account_session_path, class: "btn btn-outline-primary" %>
        <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>
      </div>
      <p class="h3">idtdre</p>
    </div>
  </div>
</div>
